name: Thundra CI Parser

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: '${{ matrix.os }}'
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.7']
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - name: 'Set up Python ${{ matrix.python-version }}'
        uses: actions/setup-python@v2
        with:
          python-version: '${{ matrix.python-version }}'
      - name: Install dependencies
        run: |
          pip install codecov
          python scripts/ci/install
      - name: Install Thundra Python Agent
        uses: thundra-io/thundra-foresight-python-action@python-action
        with:
          apikey: ${{ secrets.THUNDRA_APIKEY }}
          project_id: ${{ secrets.THUNDRA_PROJECT_ID }}
          agent_version: 3.0.0
      - name: Run tests
        run: |
          python scripts/ci/run-tests --with-cov --with-xdist
      - name: Archive test results
        uses: actions/upload-artifact@v2
        if: success() || failure()
        with:
          name: test-result-python
          path: tests/reports/
